*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    color: #6c6c6c;
    font-weight: 200;
}
body{
    width: 1349px;
    font-size: 12px;
}
.hdnav{
    width: 1179px;
    padding: 0 85px;  
    font-size: 12px;
    /* width: 100%; */
    height: 34px;
    line-height: 35px;
    background: #f5f5f5;
    position: relative;
    border-bottom: 1px solid#eee;
}
.header .left>li{
    float: left;
    padding: 0 8px;
}
.header .right>li{
    float: right;
    padding: 0 8px;
}
.png{
    margin-left: 5px;
    width: 12px;
    height: 12px;
    display: inline-block;
}
.caret{
    background: url(img/caret.png);
    background-size: cover;
}
.start{
    background: url(img/gray-start.png);
    background-size: cover;
} 
.shopping{
    background: url(img/shopping.png);
    background-size: cover;
    margin-right: 5px;
    margin-left: 0px;
}
.list{
    background: url(img/list.png);
    vertical-align: middle;  
    background-size: cover;
    margin-right: 5px;
    margin-left: 0px;
}
.hdnav .left .red{
    color: #f40;
}
.hdnav .left .dalu {
    height: 34px;
    border: 1px solid #f5f5f5;
    border-bottom: none;
}
 /* .hdnav .left .dalu::after{
    content: "";
    width: 85px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 35px;
    left: 86px;
}  */

.hdnav .left .dalu:hover{
    background: #fff;
    border: 1px solid #eee;
    border-bottom: none;
}

.hdnav .left .dalu:hover .erea{
    display: block;
}
.hdnav .left .erea{
    z-index: 100;
    background: #fff;
    width: 260px;
    height: 290px;
    position: absolute;
    top: 35px;
    left: 85px;
    overflow: auto;
    border: 1px solid #eee;
    border-top: none;
    display: none; 
}
.hdnav .left .erea li{
    text-indent: 5px;
}
.hdnav .left .erea .first{
    margin-top: 10px;
}
.hdnav .left .erea li:hover{
    background: #f4f4f4;
}
.hdnav .Tred:hover{
    color: #f40;
}
.hdnav .right .wdtb{
    height: 34px;
    border: 1px solid #f5f5f5;
    border-bottom: none;
}
.hdnav .wdtb:hover{
    background: #fff;
    border: 1px solid #eee;
    border-bottom: none;
}
.hdnav .wdtb .baobei li{
    text-indent: 5px;
}
.hdnav .wdtb .baobei{
    z-index: 100;
    background: #fff;
    width: 90px;
    height: 80px;
    border: 1px solid #eee;
    position: absolute;
    top: 35px;
    left: 652px;
    border-top: none;
    display: none;
}
.hdnav .baobei .first{
    margin-top: 5px;
}
.hdnav .baobei li:hover{
    background: #f4f4f4;
}
.hdnav .wdtb:hover .baobei{
    display: block;
}
.hdnav .right .shoucang{
    border: 1px solid #eee;
    border-bottom: none;
    height: 34px;
}
.hdnav .right .shoucang{
    height: 33px;
    border: 1px solid #f4f4f4;

}
.hdnav .right .shoucang:hover{
    background: #fff;
    border: 1px solid #eee;
    border-bottom: none;
}
.hdnav .right .shoucang:hover .start{
    background: url(img/red-start.png);
    background-size: cover;
}
.hdnav .right .shoucang:hover .cc::before{
    content: "";
    width: 80px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: -1px;
}
.hdnav .right .cc{
    z-index: 100;
    background: #fff;
    width: 80px;
    height: 80px;
    border: 1px solid #eee;
    border-top: none;
    position: absolute;
    top: 35px;
    left: 821px;
    display: none; 
}
.hdnav .shoucang:hover .cc{
    display: block;
}
.hdnav .right .cc li{
    text-indent: 5px;
}
.hdnav .right .cc li:hover{
    background: #f4f4f4;
}
.hdnav .right .cc .first{
    margin-top: 5px;
}
.hdnav .right .maijia{
    height: 34px;
    border: 1px solid #f4f4f4;
    border-bottom: none;
}
.hdnav .right .maijia:hover{
    background: #fff;
    border: 1px solid #eee;
    border-bottom: none;
}
.hdnav .right .kaidian{
    z-index: 100;
    background: #fff;
    width: 90px;
    height: 255px;
    border: 1px solid #eee;
    position: absolute;
    top: 35px;
    left: 992px;
    border-top: none;
    display: none;
}
.hdnav .right .maijia:hover .kaidian{
    display: block;
}
.hdnav .right .kaidian li{
    text-indent: 5px;
}
.hdnav .right .kaidian .first{
    margin-top: 5px;
}
.hdnav .right .kaidian li:hover{
    background: #f4f4f4;
}
.hdnav .right .lianxi{
    height: 33px;
    border: 1px solid #f4f4f4;
}
.hdnav .right .lianxi:hover{
    background: #fff;
    border: 1px solid #eee;
}
.hdnav .right .lianxi:hover .kefu::before{
    content: "";
    width: 75px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: -1px;
    left: 0px;
}

.hdnav .right .kefu{
    z-index: 100;
    background: #fff;
    border: 1px solid #eee;
    border-top: none;
    width: 75px;
    height: 80px;
    position: absolute;
    top: 35px;
    left: 1075px;
    display: none; 
}
.hdnav .right .lianxi:hover .kefu{
    display: block;
}
.hdnav .right .kefu li{
    text-indent: 5px;
}
.hdnav .right .kefu li:hover{
    background: #f4f4f4;
}
.hdnav .right .kefu .first{
    margin-top: 5px;
}

.hdnav .right .daohang{
    height: 34px;
    border: 1px solid #f4f4f4;
    border-bottom: none;
}
.hdnav .right .daohang:hover{
    border: 1px solid #eee;
    border-bottom: none;
    background: #fff;
}
.hdnav .right .daohang:hover .dhbox::before{
    content: "";
    width: 106px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: -1px;
    right: 0px;
}
.hdnav .right .daohang:hover .dhbox{
      display: block;  
}
.dhbox{
    z-index: 100;
    background: #fff;
    width: 1178px;
    height: 340px;
    border: 1px solid #eee;
    position: absolute;
    top: 35px;
    left:85px;
    display:-webkit-flex; 
    flex-flow: row nowrap;
    justify-content: space-between;
    display: none;   
}
.hdnav .dhbox .tit{
    font-size: 18px;
    font-weight: 800;
}
.hdnav .dhbox .block1{
    padding: 10px;
    width: 270px;
    border-right: 1px solid #eee;
    float: left;
}
.hdnav .dhbox .block2{
    padding: 10px;
    width: 270px;
    border-right: 1px solid #eee;
    float: left;
}
.hdnav .dhbox .block3{
    padding: 10px;
    width: 270px;
    border-right: 1px solid #eee;
    float: left;  
}
.hdnav .dhbox .block4{
    padding: 10px;
    width: 270px;
    float: left; 
}
.hdnav .dhbox .block1 li{
    line-height: 26px;
    text-align: left;
    height: 26px;
    width: 46px;
    float: left; 
    margin: 1px 10px;
    border-radius: 4px;
}
.hdnav .dhbox .block1 a{
    padding: 2px 5px;
}
.hdnav .dhbox .block1 a:hover{
    background: #f40;
    border-radius: 3px;
    color: #fff;
}
.hdnav .dhbox .block2 li{
    line-height: 26px;
    text-align: left;
    height: 26px;
    width: 58px;
    float: left; 
    margin: 1px 16px;
    border-radius: 4px;
}  
.hdnav .dhbox .block2 a{
    padding: 2px 5px;
}
.hdnav .dhbox .block2 a:hover{
    background: #a6bd47;
    border-radius: 3px;
    color: #fff;
}
.hdnav .dhbox .block3 li{
    line-height: 26px;
    text-align: left;
    height: 26px;
    width: 58px;
    float: left; 
    margin: 1px 16px;
    border-radius: 4px;
}  
.hdnav .dhbox .block3 a{
    padding: 2px 5px;
}
.hdnav .dhbox .block3 a:hover{
    background: #dca662;
    border-radius: 3px;
    color: #fff;
}
.hdnav .dhbox .block4 li{
    line-height: 26px;
    text-align: left;
    height: 26px;
    width: 70px;
    float: left; 
    margin: 1px 30px;
    border-radius: 4px;
}  
.hdnav .dhbox .block4 a{
    padding: 2px 5px;
}
.hdnav .dhbox .block4 a:hover{
    background: #41a8de;
    border-radius: 3px;
    color: #fff;
}
.header .hdserch{
    margin-top: 30px;
    margin-left: 100px;
    height: 100px;
     /* background: cyan;  */
    position: relative;
}
.header .hdserch .logo{
    margin-top: 20px;
    margin-left: 20px;
    width: 145px;
    height: 58px;
    background: url(img/logo.jpg);
    float: left;
}
.header .btd{
    width: 150px;
    height: 25px;
    /* background: cyan; */
    /* float: left; */
    /* margin-left: 70px; */
}
.header .btd li{
    float: left;
    width: 50px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    color: #f40;
    font-size: 15px;
}
.header .btd .li1{
    background: #f40;
    color: #fff;
    font-weight: 600;
}
.header .btd .li2:hover{
    background: #f9e6e6;
}
.header .btd .li3:hover{
    background: #f9e6e6;
}
.header .hdserch .inp{
    margin-left: 70px;  
    float: left;
    height: 100px;
}
.header .hdserch .serch{
    width: 500px;
    height: 36px;
    border: 2px solid #ff6905;
    float: left;
    outline: none;
    text-indent: 10px;
    color: #9c9c9c; 
}
.header .hdserch .sub{
    width: 120px;
    height: 40px;
    color: #fff;
    background: #ff6905;
    border:none;
    float: left;
    outline: none;
    font-weight: 800;
    font-size: 18px;
}
.header .sub::after{
    clear: both;
    content: "";
    display: block;
}
.header .hdserch .shpnav{
    width: 624px;
    height: 20px;
}
.red{
    color: #f40 ;
}
.header .hdserch .shpnav li{
    float: left;
    font-size: 12px;
    line-height: 20px;
    margin-right: 8px;
}
.header .hdserch .shpnav li:hover>a{
    color: #f40;
}

.header .hdserch .shpnav .last{
    float: right;
}
.afthead{
    width: 100%;
    height: 33px;
}
.afthead li{
    height: 33px;
    line-height: 33px;
    float: left;
    font-size: 16px;
}
.afthead .zhuti{
    width: 190px;
    margin-left: 100px;
    background: #ff6905;
    
}
.afthead .zhuti a{
    color: #fff;
    margin-left: 10px;
}
.afthead .zhuti .wlist{
    width: 16px;
    height: 33px;
    background: url(img/wlist.png) no-repeat;
    background-size: contain;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.afthead .subnav{
    margin: 0 5px;
}
.afthead .subnav .red{
    color: #f40;
}
.afthead .subnav a{
    color: #3c3c3c;
    font-weight: 800;
    padding: 3px 5px;
    border-radius: 17px 17px 17px 17px/ 17px 17px 17px 17px;
}
.afthead .subnav:hover a{
    background: #ff6905;
    color: #fff;
}
.content {
    width: 100%;
    height: 1000px;
    background: #f1f1f1;
}
.content .listnav {
    margin-left: 100px;
    width: 190px;
    height: auto;
    float: left;
}
.content .listnav li{
    height: 30px;
    line-height: 33px;
    width: 170px;
    padding: 0 10px;
    background: #ff6905;
}
.content .listnav li .table{
    width: 710px;
    height: 518px;
    border: 1px solid #f40;
    position: absolute;
    top: 198px;
    left: 289px;
    background: url(img/table.png);
    z-index: 100;
    display: none;
}
.content .listnav li:hover{
    background: #f94a14;
}
.content .listnav li:hover .table{
    display: block;
}

.content .listnav .shirt{
    background: url(img/shirt.png) no-repeat;
    width: 16px;
    height: 16px;
    float: left;
    margin: 0 3px;
    margin-top: 9px;
}
.content .listnav .more{
    width: 16px;
    height: 16px;
    background: url(img/more.png);
    margin-top: 9px;
    float: right;
}
.content .listnav li a{
    color: #fff;
    font-size: 13px;
}
.content .listnav li:hover .shirt{
    background: url(img/wshirt.png) no-repeat;
} 
.content .listnav li a:hover{
    text-decoration: underline;
}
.content .listnav li span{
    color: #fff;
}
.content .article{
    width: 690px;
    height: 530px;
    float: left;
    /* border: 1px solid red; */
}
.content .article .art1{
    float: left;
    width: 500px;
    height: 280px;
    background: url(img/art1.jpg);
    margin-left: 10px;
    margin-top: 10px;
}
.content .article .art2{
    float: left;
    width: 160px;
    height: 280px;
    background: url(img/art2.png);
    margin-left: 10px;
    margin-top: 10px;
}
.content .article .art3{
    float: left;
    padding: 22px 5px ;
    background: #fff;
    margin-top: 30px;
    position: relative;
}
 .content .article .art3::before{
    width: 510px;
    height: 3px;
    background: #c12c26;
    content: "";
    position: absolute;
    top: -1px;
} 
.content .article .art3-1{
    float: left;
    width: 250px;
    height: 155px;
    background: url(img/art3-1.jpg);
    

}
.content .article .art3-2{
    float: left;
    width: 250px;
    height: 155px;
    background: url(img/art3-2.jpg);
    margin-left: 5px;
}
.content .article .art4{
    position: relative;
    float: left;
    width: 160px;
    height: 200px;
    background: url(img/art4.jpg);
    margin-left: 10px;
    margin-top: 30px;
}
 .content .article .art4::before{
    position: absolute;
    top: -18px;
    font-size: 12px;
    content: "今日热卖";
    color: #a1a1a1;
 }
 .content .login{
     float: left;
     width: 290px;
     height: 515px;
 }
.content .login li{
     /* width: 290px;  */
     text-align: center;
}
.content .login .part1{
    width: 290px;
    height: 167px; 
    background: url(img/logbg.png);
    background-size: cover;
    margin-top: 10px;
    overflow: hidden;
}
.content .login .part1 a{
    display: inline-block;
    color: #f40;
}
.login .part1 .tao{
    background: url(img/hi.jpg);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-size: cover;
    display:block;
    margin: auto;
    margin-top: 20px;
    /* margin-left:97px ; */
    border: 3px solid #fff;
}
.login .part1 .coin{
    background: url(img/xuebi.png);
    display: inline-block;
    background-position-y: 288px;
    width: 16px;
    height: 16px;
    vertical-align: text-top;
}
.login .part1 .ld{
    margin-top: 10px;
    display: -webkit-flex;
    justify-content: space-around; 
}
.login .part1 .ld li{
    padding: 5px 30px;
    background: #f40;
    color: #fff;
    font-weight: 600;
}
.login .part2{
    display: -webkit-flex;
    justify-content: center;
    color: #f40;
    background: #ffe4dd;
    padding: 10px 0;
}
.login .part2 .rig{
    background: url(img/rig.png);
    width: 16px;
    height: 16px;
    position: relative;
    left: 20px;
}
.login .part3{
    background: #fff;
    padding: 8px;
}
.login .part3 .head{
    display: -webkit-flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.login .part3 .head .gg{
    font-weight: 700;
    text-decoration: underline;
}
.login .part3 li{
    height: 25px;
    line-height: 25px;
}
.login .part4{
    height: 400px;
    
}
.login .part4 .tb{
    display: -webkit-flex;
    justify-content: flex-start;
    flex-wrap: wrap; 
}
.login .part4 li{
    width: 70px;
    height: 70px;  
    border: 1px solid #eaeaea;
    flex: auto;
    background: #fff;
    /* display: -webkit-flex;
    justify-content: center; */
}
.login .part4 .tb div{
    width: 24px;
    height: 24px;
    margin: auto;
    margin-top: 11px;
}
.login .part4 .tb .huafei{
    background: url(img/xuebi.png);

}
.login .part4 .tb .youxi{
    background: url(img/xuebi.png);
    background-position-y: -43px;

}
.login .part4 .tb .lvxing{
    background: url(img/xuebi.png);
    background-position-y: -87px;

}
.login .part4 .tb .chexian{
    background: url(img/xuebi.png);
    background-position-y: -131px;

}
.login .part4 .tb .caipiao{
    background: url(img/xuebi.png);
    background-position-y: -176px;

}
.login .part4 .tb .dianying{
    background: url(img/xuebi.png);
    background-position-y: -219px;

}
.login .part4 .tb .jiudian{
    background: url(img/xuebi.png);
    background-position-y: -263px;

}
.login .part4 .tb .licai{
    background: url(img/xuebi.png);
    background-position-y: -306px;

}
.login .part4 .tb .zhaofuwu{
    background: url(img/xuebi.png);
    background-position-y: -352px;

}
.login .part4 .tb .yanchu{
    background: url(img/xuebi.png);
    background-position-y: -396px;

}
.login .part4 .tb .shuimeiqi{
    background: url(img/xuebi.png);
    background-position-y: -440px;

}
.login .part4 .tb .huochepiao{
    background: url(img/xuebi.png);
    background-position-y: -484px;

}
.content .aside{
    position: fixed;
    bottom: 0px;
    right: 20px;
    width: 50px;
    height: 450px;
}
.content .aside li{
    height: 50px;
    background: #fff; 
    font-size: 14px;
    line-height: 50px;
    position: relative;
}
.content .aside li::after{
    content: "";
    border-bottom: 1px solid #efefef;
    width: 34px;
    position: absolute;
    left: 8px;
    top: -1px;
}
.content .aside .first{
    background: url(img/xuebi.png);
    background-position-y: 83px;
}
.content .aside .first p{
    color: #fff;
}
.content .aside li p{
    margin-left: 9px;
    margin-right: 8px;
}
.content .aside li p a{
    display: inline-block;
}
.content .aside li .huanhang{
    line-height: 25px;
}